body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.navbar{
    grid-column: 1;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.2); /* Add a shadow with a 5px spread on all sides */
}
.navbar .mini-menu{
    flex-basis: 50%;
    display: none;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    height: 50px;
}
.navegador{
    flex-basis: 40%;
    font-size: 8pt;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.userpage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
    background-image: linear-gradient(to right, #74ff52, #49a3ec);
}
.direita{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direita img{
    height: 160px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 350px;
    height: 530px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2); /* Add a shadow with a 5px spread on all sides */
    border-radius: 10px;
    background-color: #242424;
    color: white;
}
.box h1{
    font-size: 22pt;
    margin: 0;
}
.box h2{
    font-size: 12pt;
    font-weight: lighter;
}

.box div .input-text{
    height: 40px;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    outline: none;
    text-align: center;
}

.options h2{
    width: 200px;
    height: 50px;
    border: 0; 
    border-radius: 25px;
    background-color:rgb(35, 204, 58);
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.options h2 img{
    height: 40px;
}
.options h2:hover{
    background-color: rgb(38, 160, 54);
}
.options h2:active{
    background-color: rgb(21, 105, 32);
}
.options h2 a{
    text-decoration: none;
    color: white;
}




.info{
    grid-column: 1;
    min-height: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 8pt;
    background-color: #242424;
    color: white;
    margin-bottom: 0px;
}

h2{
    font-weight: lighter;
}
h2:active{
    color: white;
}
h3{
    font-size: 10pt;
    font-weight: lighter;
    margin: 0;
}
a{
    text-decoration: none;
    color:#242424;
}

@media screen and (max-width: 1400px) {
    
    .info{
        grid-column: 1;
        min-height: 80px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 8pt;
        background-color: #242424;
        color: white;
        margin-bottom: 0px;
    }
  
    
}

@media screen and (max-width: 1100px) {
   
    .info{
        grid-column: 1;
        min-height: 80px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 8pt;
        background-color: #242424;
        color: white;
        margin-bottom: 0px;
    }
    .f-funcao{
        height: 360px;
    }
    
}

@media screen and (max-width: 900px) {
    
    .info{
        grid-column: 1;
        min-height: 80px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 8pt;
        background-color: #242424;
        color: white;
        margin-bottom: 0px;
    }
 
}

@media screen and (max-width: 640px) {
    
    .info{
        grid-column: 1;
        min-height: 80px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 8pt;
        background-color: #242424;
        color: white;
        margin-bottom: 0px;
    }
    
    
}
@media screen and (max-width: 600px) {
    .navegador {
      display: none; /* Hide navigation links on small screens */
    }
    .navbar.active .navegador {
        background-color: #353535;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: 240px;
        gap: 0%;
        position: absolute;
        top: 70px; /* Adjust the top distance as needed */
        left: 0;
        text-align: center;
        margin: 0; /* Remove margin */
        padding: 0;
      }
      
      .navegador a {
        text-decoration: none;
        color: white;
        height: 60px; /* Set the height to 100% */
        width: 100%;
        margin: 0; /* Remove margin */
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8pt;
      }
      .navegador a:hover{
        background-color: #535353;
      }
      .navegador a:active{
        background-color: #242424;
      }
      

    .navbar .mini-menu{
        flex-basis: 45%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .mini-menu button{
        width: 35px;
        height: 35px;
        font-size: 14pt;
    }
    .logo{
        flex-basis: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

   
    
  }

  @media screen and (max-width: 400px) {
   
    .logo{
        flex-basis: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
        width: 320px;
        height: 530px;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2); /* Add a shadow with a 5px spread on all sides */
        border-radius: 10px;
        background-color: #242424;
        color: white;
    }
  
    .info{
        min-height: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 6pt;
        margin-bottom: 0px;
    }
  }
  @media screen and (max-width: 350px) {
    
    .logo{
        flex-basis: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
        width: 280px;
        height: 530px;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2); /* Add a shadow with a 5px spread on all sides */
        border-radius: 10px;
        background-color: #242424;
        color: white;
    }
    
    .info{
        min-height: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 6pt;
        margin-bottom: 0px;
    }
  }